<div id="vidContainer">
  <video
    controls
    autoplay
    src="{{ backendLoc }}/{{ videoDetails.videoid }}"
    class="object-fit-contain"
  ></video>
  <div id="vidMeta">
    <h2>{{ videoDetails.title }}</h2>
    <div>Views: {{ videoDetails.views + 1 }}</div>
    <app-rate-video
      [ratings]="videoDetails.ratings"
      [uploader]="videoDetails.userid"
      [id]="videoDetails.videoid"
    ></app-rate-video>
  </div>
  <p>{{ videoDetails.description }}</p>
  <app-comments [comments]="videoDetails.comments" [id]="videoDetails.videoid">
  </app-comments>
</div>
