<div>
  <div
    *ngIf="!hideRatings"
    class="btn-group"
    role="group"
    aria-label="Basic mixed styles example"
  >
    <button
      (click)="submitRating(1)"
      type="button"
      class="btn"
      *ngClass="{ 'btn-danger': !this.alreadyVoted || this.alreadyVoted === 1 }"
    >
      ⭐
    </button>
    <button
      (click)="submitRating(2)"
      type="button"
      class="btn"
      *ngClass="{
        'btn-warning': !this.alreadyVoted || this.alreadyVoted === 2
      }"
    >
      ⭐
    </button>
    <button
      (click)="submitRating(3)"
      type="button"
      class="btn"
      *ngClass="{
        'btn-primary': !this.alreadyVoted || this.alreadyVoted === 3
      }"
    >
      ⭐
    </button>
    <button
      (click)="submitRating(4)"
      type="button"
      class="btn"
      *ngClass="{ 'btn-info': !this.alreadyVoted || this.alreadyVoted === 4 }"
    >
      ⭐
    </button>
    <button
      (click)="submitRating(5)"
      type="button"
      class="btn"
      *ngClass="{
        'btn-success': !this.alreadyVoted || this.alreadyVoted === 5
      }"
    >
      ⭐
    </button>
  </div>
  <div>
    {{ avgRating }}
  </div>
</div>
